[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodules/external/glfw"]
	path = submodules/external/glfw
	url = https://github.com/glfw/glfw.git
